# App
PORT=port-backend-url
API_URL=http://backend-url...
CLIENT_URL=http://frontend-url
ADMIN_PASS=admin-pass-for-sign-in
# Token
JWT_ACCESS_SECRET=jwt-access-secret
JWT_REFRESH_SECRET=jwt-refresh-secret
# Email
SMTP_HOST=smtp-host
SMTP_PORT=smtp-port
SMTP_USER=smtp-email
SMTP_PASSWORD=smtp-password
# Database
DB_HOST=database-host
DB_PORT=database-port
DB_NAME=database-name
DB_USER=database-user
DB_PASSWORD=database-password